.login-wrapper {
    background-image: url('../../../assets/images/png/auth.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: relative;
    overflow: auto;
}

.login-form {
    /*  position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%); */
    background: #ffffff;
    min-height: 150px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 10px #cacaca;
    border-radius: 10px;
    padding: 20px;
}

.forgot-para {
    text-align: right;
    font-size: 12px;
    margin: 5px 0px 10px 0;
}

button.login-bttn {
    background-color: var(--main-blue);
    color: #ffffff;

    &:hover {
        background-color: var(--main-yellow);
        color: var(--main-blue);
        border-color: var(--main-yellow);
    }
}

span.login-loader {
    color: white;
}

.otp {
    &-text {
        font-size: .8rem;
    }

    &-resent {
        cursor: pointer;
        font-size: .9rem;
        font-weight: 600;
        transition: font-weight .5s ease;
    }

    &-disableText {
        cursor: not-allowed;
        pointer-events: none;
        color: #a3a3a3;
        font-weight: 600;
    }
}

.otpInput {
    .MuiInputBase-input {
        height: 3rem;
        padding: 0;
    }
}

button.prev-arrow-bttn {
    background: #dddddd;
    height: 30px;
    min-width: 45px !important;
    display: inline-block;

    img {
        height: 22px;
    }
}



/* New Css */
.lg-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.lg-head {
    /* height: 12%; */
    width: 100%;
}

.lg-body {
    flex-grow: 1;
    display: flex;
}

.lg-body-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.lg-login-frm {
    background: #e6e6e6;
}

.plain-img,
.lg-login-frm {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
    .plain-img {
        display: none;
    }

    .lg-login-frm {
        flex: 0 0 100%;
        background-color: #fff;
        /* Full width */
    }
}

@media (min-width: 1400px) {
    .login-form {
        display: flex;
        align-items: center;
        height: 400px;
        max-width: 450px;
    }
}

p.sign-in {
    color: #8d8d8d;
}
h4.auth-title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
p.copy-right a {
    color: #00a766;
    text-decoration: none;
}
