.app-logo {
    img {
        width: 200px;
        height: auto;
    }
}

.lang-sec-res {
    background-color: #9addc6;

    @media (max-width: 780px) {
        width: 25%;
        background-color: #fff;
    }
}

.logo-sec-res {
    @media (max-width: 780px) {
        width: 70%;
    }
}

 