.itc-approval-user {
    .table-header {
        .element:nth-child(1) {
            width: 80%;
        }

        .element:nth-child(2) {
            width: 20%; 
        } 
    }

    .table-body {
        .element:nth-child(1) {
            width: 80%;
            align-items: flex-start !important;
        }

        .element:nth-child(2) {
            width: 20%; 
        } 
    }
}

.select-all-itc {
    padding: 0px !important;
    margin-right: 8px !important;
}